<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AgileObjects.AgileMapper" version="0.28.0" targetFramework="net471" />
  <package id="AgileObjects.NetStandardPolyfills" version="1.4.0" targetFramework="net471" />
  <package id="AgileObjects.ReadableExpressions" version="1.12.1" targetFramework="net471" />
  <package id="Dapper" version="1.50.5" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.12" targetFramework="net471" />
</packages>